<html>
    <head>
        <Title>Messages</Title> 
        <link rel="stylesheet" href="./messages.css">
    </head>
    <body>
        <div>
            <h1>Post a message!</h1>
            <% if(locals.membershipStatus) {%> 
                <form action="/messages/create" method="POST">
                    <label for="title">Title:</label>
                    <input type="text" name="title" id="title" maxlength="30"> <br>
                    <textarea name="message" id="message" cols="50" rows="6" maxlength="255"></textarea><br>
                    <button>Post Message</button>
                </form>
                <% }else{ %> 
                    <span>Please Become a Member to Post Messages</span>
                    <% } %>
        </div>
        <div class="message-container">
                <% if(messages.length > 0){ %> 
                <% messages.forEach((message) => {%> 
                    <div class="message">
                        <h1 class="message-title"> <%- message.title %></h1>
                        <p class="author">Author:<% if (locals.membershipStatus) {%>
                            <%- message.authorusername %>
                                <% }else{ %> Anonymous <% } %></p>
                        <p class="message-text"> <%- message.message %></p>
                        
                        <p class="date-posted">Posted: <%-  message.dateposted.toDateString() %></p>
                        <% if (locals.adminStatus) {%>
                            <form class="message-delete" action="/messages/delete/<%= message.messageid %>?_method=DELETE" method="POST">
                                <button type="submit" onclick="return confirm('Are you sure you want to delete this message?')">Delete</button>
                            </form>
                        
                                <% } %>
                    </div>
                <% }) %>
              
                <% }else { %> 
                    
                    <h1>No Messages Exist</h1>
                    <% } %>
        </div>
        <footer>
            <a href="/">Home</a>
        </footer>
    </body>
</html>